# data
/data/
/data/raw/
/data/processed/*.bin
/data/tokenized/

# venv
/.venv/
*.tar.gz
/__pycache__/

# modal
/src/models/
/models/
/oldModels/
/dataExtraction/old/

# archived
/src/archived
/mistake_models/